@import "../../variables.scss";

.main-each-product {
  //background-color: aqua;
  display: flex;
  padding: 20px 100px 20px 100px;
  justify-content: center;

  &__aside {
    display: grid;
    width: 30%;
    //   background-color: blue;
    padding: 20px;
  }

  &__figure {
    margin-top: -10%;
    //  background-color: red;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
  }

  &__img {
    object-fit: cover;
    position: center;
    width: 100%;
    height: 100%;
  }

  &__section {
    background-color: pink;
    padding: 20px 50px 20px 50px;
    display: flex;
    flex-direction: column;
    width: 40%;
  }
}

//button para comprar
.sell-button {
  @extend .card__footer-button;
}
//button para agregar a favoritos
.button-favorite {
  margin-top: 5%;
  width: 100%;
  color: $white;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  padding: 5px;
  color: $dark-gray;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.4s;

  &:hover {
    background-color: $red;
    color: $white;
    transition: 0.4s;
  }
}
//arrow para volver a home
.arrow-home-figure {
  width: 30px;
  height: 30px;
  margin: 20px;
  cursor: pointer;
}
.arrow-home {
  rotate: (180deg);
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (min-width: 1700px) {
  .main-each-product {
    padding: 20px 50px 20px 50px;
  }
}
@media screen and (max-width: 470px) {
  .main-each-product {
    padding: 20px;
    background-color: red;
    flex-direction: column;

    &__aside {
      width: 100%;
    }

    &__section {
      width: 100%;
      padding: 15px;
    }
  }
}
