.clothes {
  width: 100%;
  padding-right: 0px !important;

  &__header {
    background-image: url("../../assets/gradientBackground.png");
    height: 187px;
    width: 100%;
    font-weight: 700;
    font-size: 40px;
    line-height: 77px;
    letter-spacing: 0.15em;
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__asideYMain {
    display: flex;
    padding: 30px;

    &__aside {
      width: 317px;

      &__tittle {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #ccabd8;

        h2 {
          font-weight: 700;
          font-size: 16px;
          line-height: 22px;
        }

        span {
          font-weight: 400;
          font-size: 12px;
          line-height: 17px;
          cursor: pointer;
        }
      }
      &__filter {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #ccabd8;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        cursor: pointer;

        img {
          cursor: pointer;
        }
      }

      &__options {
        padding: 10px;
        border-bottom: 1px solid #ccabd8;
        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 19px;
        }

        &__container {
          display: flex;
          flex-direction: column;
          gap: 5px;
          margin-top: 10px;
        }

        &__option {
          display: flex;
          gap: 10px;

          div {
            height: 18px;
            width: 18px;
            // background: #FA897B;
            border: 1px solid #000000;
            border-radius: 4px;
            cursor: pointer;
          }

          p {
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
          }
        }

        &__selectsScroller {
          height: 254px;
          padding: 10px;
          border-bottom: 1px solid #ccabd8;

          &__scroll {
            display: flex;
            flex-direction: column;
            height: 100%;
            overflow-y: scroll;
            gap: 10px;
          }

          &__scroll::-webkit-scrollbar {
            width: 6px;
            background-color: #efefef;
          }

          &__scroll::-webkit-scrollbar-thumb {
            background-color: #fa897b;
            border-radius: 4px;
          }
        }
      }
    }

    &__main {
      width: 100%;
      margin-left: 50px;

      &__header {
        display: flex;
        justify-content: space-between;

        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 19px;
        }

        &__order {
          position: relative;
          width: 300px;

          &__div {
            display: flex;
            justify-content: space-between;
            gap: 16px;

            img {
              cursor: pointer;
            }
          }

          &__options {
            padding: 10px;
            box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            background: #ffffff;
            display: flex;
            flex-direction: column;
            gap: 10px;
            position: absolute;
            z-index: 300;
            margin-top: 10px;
            width: 100%;

            p {
              cursor: pointer;
            }

            p:hover {
              color: #fa897b;
            }
          }
        }
      }

      &__cards {
        display: flex;
        column-gap: 20px;
        row-gap: 20px;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-top: 20px;
      }
    }
  }
}

.clothes__asideYMain__asideMobile {
  display: none;
  width: 250px;
  padding: 16px;
  position: fixed;
  background-color: #ffffff;
  height: 100vh;
  box-shadow: -63px 0px 0px 2000px rgba(0, 0, 0, 0.4);
  right: 0;
  top: 0;
  z-index: 500;
  overflow: scroll;

  &__x {
    text-align: right;
  }
}

.clothes__asideYMain__asideMobile::-webkit-scrollbar {
  display: none;
}

.clothes__asideYMain__main__menuMobile {
  width: 100%;
  display: none;

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }

  &__products {
    text-align: center;
  }

  &__container {
    background-color: #ccabd8;
    display: flex;
    margin-top: 10px;

    &__filter {
      width: 50%;
      display: flex;
      justify-content: space-between;
      gap: 10px;
      align-items: center;
      padding: 5px 10px;
      border-right: 1px solid white;

      p {
        color: #ffffff;
      }
    }

    &__order {
      width: 50%;

      &__div1 {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
        padding: 5px 10px;

        p {
          color: #ffffff;
        }
      }
    }
  }
}

.clothes__asideYMain__aside__multipleOp {
  padding: 10px;
  border-bottom: 1px solid #ccabd8;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.letterClothes {
  font-size: 14px !important;
}

//hover state
.text-description-state {
  background: rgba(213, 150, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1.5rem;
  display: flex;
  position: absolute;
  left: 10%;
  margin-top: -10%;
  z-index: 100;
  transition: 0.4s;
  width: 400px;
}
//text description mobile
.text-description-state-mobile {
  background: rgba(213, 150, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
  display: flex;
  position: absolute;
  // right: 5%;
  margin-top: -32%;
  z-index: 100;
  transition: 0.4s;
  width: 100%;
  font-size: 14px;
}

.text-state {
  color: blue;
}

@media (max-width: 860px) {
  .clothes__asideYMain__aside {
    display: none;
  }

  .clothes__asideYMain__main__menuMobile {
    display: block;
  }

  .clothes__asideYMain__main__header {
    display: none;
  }

  .clothes__asideYMain__main {
    margin-left: 0px;
  }

  .clothes__asideYMain__asideMobile {
    display: block;
  }

  .clothes__asideYMain__main__header__order__options {
    width: 200px;
    right: 10px;
  }

  .clothes__asideYMain {
    padding: 10px;
  }

  .clothes__header {
    height: 80px;
    font-size: 25px;
  }
}

@media (max-width: 940px) {
  .text-description-state {
    margin-top: -15%;
  }
}
