@import "./components/Home/home.scss";
@import "./components/cards/card.scss";
@import "./components/Home/carousel/carousel.scss";
@import "./components/Home/populars-section/popularSection.scss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
